    <!-- Download Section -->
    <section id="pricing" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Pricing</h2>
                    <p>We are not accepting any more applications for partners at this time. Watch this space!</p>
                    <a href="#" class="btn btn-default btn-lg">Sign Up To Newsletter</a>
                </div>
            </div>
        </div>
    </section>
